.thumbnail{
  width: 100%;
}

.video-title{
  margin-top: 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}

.channel-picture{
  vertical-align: top;
}

.profile-pic{
  width: 36px;
  border-radius: 20px;  
}

.thumbnail-row{
  margin-bottom: 8px;
  position:relative;
}

.video-author,
.video-stats{
  font-size: 12px;
  color: rgb(96,96,96);
}

.video-author{
  margin-bottom: 4px;
}

.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 40px;
  column-gap: 16px;
}

@media (max-width: 869px){
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 870px) and (max-width: 1124px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1125px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-time{
  background-color: black;
  color: white;
  position: absolute;
  right: 5px;
  bottom: 8px;
  font-size: 12px;
  font-weight: 500;
  padding: 4px 4px 4px 4px;
  border-radius: 2px;
}

.video-title a{
  text-decoration: none;
  color: black;
}

.video-author a{
  text-decoration: none;
  color: rgb(96,96,96);
}

.channel-picture-container{
  display: inline-block;
  position: relative;
}

.channel-preview{
  position: absolute;
  background-color: white;
  display: flex;
  column-gap: 10px;
  bottom: -75px;
  align-items: center;
  padding: 12px 12px 12px 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s;
  z-index: 1;
}

.channel-picture-container:hover .channel-preview{
  opacity: 1;
}

.channel-preview img{
  width: 45px;
  border-radius: 25px;
}

.channel-info{
  width: 135px;
}

.channel-info .name{
  white-space: nowrap;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
}

.channel-info .sub-count{
  color: rgb(96,96,96);
  font-size: 13px;
}
      